/*CONNECT(Stories) PAGE HERE*/
.story-container {
  padding: 40px 0px 0px 0px;
}

.connect-button-control {
  padding: 20px 0px 0px 0px;
  list-style: none;
}

.video-container-parent {
  display: flex;
  flex-wrap: wrap;
}

#white-font {
  color: whitesmoke;
}

.blue-font {
  color: #00c1a2;
}

.story-blurbs,
.story-subtitle {
  /* color: white; */
  text-align: left;
}
#story-info-container-children {
}

.video-container-child {
  text-align: -webkit-center;
  padding: 20px 0px 20px 0px;
  margin: auto;
}
@media only screen and (min-width: 802px) {
  .video-container-child {
    padding: 0px 60px 20px 0px;
  }
}

.video-text-control {
  display: flex;
  max-width: 100%;
}
@media only screen and (max-width: 802px) {
  .video-text-control {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 802px) {
  .video-text-control {
    padding: 20px 150px 20px 150px;
    text-align: left;
  }
}

.story-parent-container {
  margin: 30px 10px 30px 20px;
}

/*Blurb background color*/
.story-info-container {
  padding: 10px 10px 10px 10px;
  background: whitesmoke;
  border-radius: 5px;
}

.story-info-container {
  position: relative;
}

.story-info-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background-size: cover;
  opacity: 0.5;
  border-top-style: double;

  border-top-width: 0.5px;
}

.home-video-container5 {
  padding: 10%;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
  padding-top: 75px;
  padding-bottom: 20px;
}

.home-container-video5 {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video5::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* background-color: #ff2f69; */
  background-image: url("../../images/connect/headsetTEAMSocial5.jpg");
  background-size: cover;
  opacity: 0.5;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
}

/*LISTEN(Music) PAGE HERE*/
.title-text {
  font-size: initial;
}

.title-text-container {
  padding: 45px 0px 0px 0px;
}

.audio-container-parent {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  justify-content: space-evenly;
}

.home-video-container4 {
  padding: 10%;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
  padding-top: 75px;
  padding-bottom: 20px;
}

.home-container-video4 {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video4::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* background-color: #ff2f69; */
  background-image: url("../../images/connect/music_PartyTEAM.jpg");
  background-size: cover;
  opacity: 0.5;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
}

video,
.subtitle1,
.title-text,
.video-container-child,
.story-container,
.story-blurbs,
.story-subtitle,
.story-info-container {
  position: relative;
}

.intro-text-control {
  margin: 0px 0px 45px 0px;
}
