/*CONNECT(Stories) PAGE HERE*/
.story-container {
  padding: 40px 0px 0px 0px;
}

.connect-button-control {
  padding: 20px 0px 0px 0px;
  list-style: none;
}

.video-container-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#white-font {
  color: whitesmoke;
}

.blue-font {
  color: #00c1a2;
}

.story-blurbs,
.story-subtitle {
  color: white;
  text-align: left;
}

.video-container-child {
  text-align: -webkit-center;
  padding: 20px 0px 20px 0px;
  margin: auto;
}
@media only screen and (min-width: 802px) {
  .video-container-child {
    padding: 0px 60px 20px 0px;
  }
}

.video-text-control {
  display: flex;
  max-width: 100%;
}
@media only screen and (max-width: 802px) {
  .video-text-control {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 802px) {
  .video-text-control {
    padding: 20px 150px 20px 150px;
    text-align: left;
  }
}

.story-parent-container {
  margin: 30px 10px 30px 20px;
}

#story-parent-container1 {
  margin: 30px 10px 30px 20px;
}

.story-children-blurbs {
  padding: 0px 20px 0px 20px;
}

/*Blurb background color*/
.story-info-container {
  padding: 10px 10px 10px 10px;
  color: white;
}

/*LISTEN(Music) PAGE HERE*/
.title-text {
  font-size: initial;
  color: black;
}

.title-text-container {
  padding: 15px 0px 0px 0px;
}

.audio-container-parent {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  margin: 0;
}

video,
.subtitle1,
.title-text,
.video-container-child,
.story-container,
.story-blurbs,
.story-subtitle,
.story-info-container,
.story-children-blurbs,
.home-footer {
  position: relative;
}

.intro-text-control {
  margin: 0px 0px 45px 0px;
  color: black;
}

.intro-text-container {
  padding: 0px 15px 0px 15px;
}
