/*Form div container*/
#card {
  display: block;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bee-stamp {
  width: 244px;
  height: inherit;
  border-radius: 10px;
  margin-top: 10%;
}

/*Registration Form*/
.reg-parent-container {
  width: 250px;

  margin-top: 24px;
}

.reg-title {
  margin-top: 60px;
  background-color: #afe272;
  padding: 10px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.form-text {
  font-size: initial;
}

.forgot-password {
  font-size: initial;
}
