/*Background*/
.home-container-video2 {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #82d121;
  background-size: cover;
  opacity: 0.5;
}

video,
.video-container,
.info-container,
.what-is-team-control,
.heading-control,
.video-about-text-control {
  position: relative;
}

.what-is-team-control {
  padding: 50px;
  text-align: justify;
}

.video-about-text-control {
  display: flex;
  justify-content: center;
}

.team-subtitle {
  font-size: 20px;
}

.info-container {
  padding: 30px;
}

/*UL style*/
.list-items {
  list-style: circle;
}

.list-items-parent {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 50px 0px 50px 0px;

  position: relative;
}
.list-items-parent::before {
  background-color: gainsboro;
  /*gainsboro*/
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 30%;
  background-size: cover;
  border-radius: 10px;
}

.list-items {
  position: relative;
}

.team-subtitle {
  margin-top: 20px;
}

.join-team-other-text-container {
  display: flex;
}

.image-team {
  max-width: 100%;
  width: 250px;
  height: 100px;
}
