/*Background*/
.home-container-video2 {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fa9a09;
  background-size: cover;
  opacity: 0.7;
}

video,
.video-container,
.info-container,
.what-is-team-control,
.heading-control,
.video-about-text-control {
  position: relative;
}

.what-is-team-control {
  padding: 50px;
  text-align: justify;
}

.video-about-text-control {
  display: flex;
  justify-content: center;
}
