body {
  margin: 0;

  font-family: hero-new, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.home-container-video {
  padding: 10%;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
}

.info-container {
  padding: 10%;
}
.info-container {
  border-style: hidden;
  border-width: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

/* .section-color {
  background-color: #ff9f00;
} */

.copyright-footer {
  font-size: 12px;
}

.home-container-video {
  padding-top: 75px;
}

/*Background*/
.home-container-video {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #82d121;
  background-size: cover;
  opacity: 0.85;
}

video,
.video-container,
.info-container {
  position: relative;
}
