body {
  margin: 0;

  font-size: 20px;
}

.terms-page {
  height: auto;
  color: black;
  padding: 24px 5px 5px 5px;
  position: relative;
}

.terms-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #00c1a2;
  opacity: 0.3;
}

.terms-content-control,
.header-control,
.access-content-control,
.form-control-parent,
.subtitle3,
.form-sizing-control,
.form-title-control {
  position: relative;
}

.header-control,
.terms-content-control {
  text-align: left;
  letter-spacing: 1.1px;
}
.header-control {
  font-size: 20px;
}

.terms-content-control {
  font-size: 15px;
}
