body {
  margin: 0;

  font-family: hero-new, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.home-container-video {
  padding: 10%;
}

.info-container {
  padding: 10%;
}
.info-container {
  border-style: hidden;
  border-width: 10px;
  border-radius: 20px;
  background-color: #ff9f00;
}
/* .background-outer{

} */
