body {
  margin: 0;
  text-align: center;
  font-family: hero-new, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#contact-page {
  height: 150vh;
  padding: 24px 24px;
  background-color: #89d7e8;
  color: white;
}

h1 {
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding: 20px;
}
