body {
  margin: 0%;
  /* text-align: center; */
}

.homepage {
  /* height: 110vh; */
  /* padding: 0px 24px; */
  background-color: #ff9f00;
}

.header {
  background-color: white;
  height: 100px;
}

.profile-svg {
  float: right;
  margin: 10px;
}

.welcome {
  font-family: hero-new, sans-serif;
  font: bold;
  padding: 35px;
  font-size: 30px;
  display: inline-block;
  color: white;
}

.features-container {
  z-index: 0;
  margin: 0px;
  padding: 0px 0px 0px 36px;
  position: relative;
  list-style-type: none;
  overflow: scroll hidden;
  display: flex;
  width: 100%;
}

.subtitle {
  display: -webkit-box;
  margin: 30px 10px 30px 0px;
  padding: 20px;
}

.child-container {
  margin-bottom: 8px;
  margin-right: 16px;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: white;
}

li {
  margin: 0 30px 10px 0;
}

.nav-container {
  margin-top: 20px;
  padding-bottom: 40px;
}

#about-button {
  border: black;
  box-shadow: 5px 5px whitesmoke;
}

.default-button {
  width: 200px;
  height: 54px;
  font-family: hero-new, sans-serif;
  font: bold;
  font-size: 22px;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px whitesmoke;
}

/* Bee Image about button*/

#simple-button {
  background-color: #00c1a2;
}

#meditate-button {
  background-color: #82d121;
}

#music-button {
  background-color: #ff2f69;
}

#term-button {
  background-color: #89d7e8;
}

#contact-button {
  background-color: #fbce69;
}

/*section white/yellow*/
.h-container-video {
  padding: 10%;
}

.info-container {
  padding: 10%;
}

.nav-container {
  padding-top: 15px;
  border-style: hidden;
  border-width: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}
