body {
  background: #82d121;
}

.white-h1 {
  color: white;
  font-size: 36px;
}

.home-button-container {
  padding-top: 10px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

/* Simple Act images*/

.flex-container {
  border: 5px solid white;
  border-style: hidden;
  padding: 25px;
  flex-wrap: wrap;
}

.child-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.child2-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
