.simplepage-container {
  background-color: white;
}

.simple-title {
  color: black;
  font-size: 36px;
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.prompt-text {
  padding-top: 50px;
}

/* Simple Act images*/

.flex-container {
  border: 5px solid white;
  border-style: hidden;
  padding: 25px;
  flex-wrap: wrap;
}

.child-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.child2-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
