.simplepage-container {
  background-color: white;
}

/*responsive settings*/
.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.prompt-text {
  padding-top: 50px;
}

/*Top Background*/
.home-container-video3 {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video3::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../../images/SAboards/saboards-wide.jpg);
  background-size: cover;
  opacity: 0.4;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
}

video,
.video-container,
.info-container,
.flex-container,
.child-container,
.challenge-text {
  position: relative;
}

/* Simple Act images*/

.flex-container {
  border: 5px solid white;
  border-style: hidden;

  flex-wrap: wrap;
}

.child-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 25px;
}

.child2-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px;
}

.simple-acts-container-parent {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  position: relative;
  padding: 0px 0px 50px 0px;
}
.simple-acts-container-parent,
.simple-acts-video,
.simplepage-container {
  animation: fadeIn 10s;
}

.simple-acts-video {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

article.challenge-text {
  text-align: justify;
}

.text-container {
  margin: 50px;
}

.text-video-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.text-video-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

article.challenge-text2,
article.challenge-text1 {
  text-align: justify;
}

@media only screen and (min-width: 801px) {
  article.challenge-text2 {
    margin: 0px 0px 0px 20px;

    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width: 801px) {
  .challenge-text1 {
    margin: 0px 20px 0px 0px;
    padding: 0px 20px 0px 20px;
  }
}

@media only screen and (max-width: 801px) {
  .text-video-column {
    max-width: 100%;
    flex: none;
    text-align: center;
  }
  article.challenge-text2 {
    margin: 0;
  }
}
