.simplepage-container {
  background-color: white;
}

/*responsive settings*/
.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.prompt-text {
  padding-top: 50px;
}

/*Background*/
.home-container-video3 {
  padding: 10px 0px 50px 0px;
  position: relative;
}
.home-container-video3::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #82d121;
  background-size: cover;
  opacity: 0.4;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
}

video,
.video-container,
.info-container,
.flex-container,
.child-container,
.challenge-text {
  position: relative;
}

/* Simple Act images*/

.flex-container {
  border: 5px solid white;
  border-style: hidden;

  flex-wrap: wrap;
}

.child-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 25px;
}

.child2-container {
  border: 5px solid white;
  border-style: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px;
}

.challenge-text {
  text-align: justify;
  padding: 15px;
}

.simple-acts-container-parent {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  position: relative;
  padding: 0px 0px 50px 0px;
}
