/* .home-footer {
  background-color: #db5a00;
} */

/* .home-footer {
  background-color: #db5a00;
  color: white;
} */

ul.socials-control svg {
  color: white;
}

.socials-control {
  margin: 0px 40px 0px 0px;
}

/*fb/contacts/terms/privacy section*/
.footer-ul-control {
  display: flex;

  justify-content: space-evenly;
  padding-left: 0rem;
  list-style: none;
}

@media only screen and (max-width: 820px) {
  .footer-ul-control {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0rem;
    list-style: none;
  }
}

.Link-control {
  font-size: 16px;
  /* color: white; */
}

/*Social Media handler control */
.social-media-control {
  padding: 0px 20px 0px 20px;
}
.socials-link-control {
  list-style: none;
}

/*Charity Logos*/
.charity-logo {
  width: 188px;
  height: auto;
}

.acw-logo {
  width: 250px;
  height: auto;
}
.charity-logo,
.acw-logo {
  max-width: 100%;
}
