.home-footer {
  margin: 100px 0px 50px 0px;
  font-size: 16px;
}

/*fb/contacts/terms/privacy section*/
.footer-ul-control {
  display: flex;
  justify-content: space-evenly;
}

.Link-control {
  font-size: 16px;
}

/*Social Media handler control */
.social-media-control {
  display: flex;
  padding: 5px;
}

/*Charity Logos*/
.charity-logo {
  width: 188px;
  height: auto;
}

.acw-logo {
  width: 250px;
  height: 43px;
}
.charity-logo,
.acw-logo {
  max-width: 100%;
}
