.home-footer {
  margin: 100px 0px 50px 0px;
  font-size: 16px;
  padding: 0px 15px 0px 15px;
}
.socials-control {
  margin: 0px 40px 0px 0px;
}

/*fb/contacts/terms/privacy section*/
.footer-ul-control {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0rem;
  list-style: none;
}

.Link-control {
  font-size: 16px;
}

/*Social Media handler control */
.social-media-control {
  padding: 0px 20px 0px 20px;
}
.socials-link-control {
  list-style: none;
  margin: 15px 0px 15px 0px;
}

/*Charity Logos*/
.charity-logo {
  width: 188px;
  height: auto;
}

.acw-logo {
  width: 250px;
  height: 43px;
}
.charity-logo,
.acw-logo {
  max-width: 100%;
}
