body {
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 36px;
}

/*title "Go Tell The Bees" */
.yellow {
  color: #ff9f00;
}

/* mainText "Simple Acts"*/
.blue {
  color: #00c1a2;
}

.bee-default {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin: 75px;
  box-shadow: 5px 5px whitesmoke;
}

.transition-image {
  animation: beeFade 10s;
}

@keyframes beeFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Temp image placeholder*/

/*Background Image*/
.title-container {
  margin: 0px 0px 55px 0px;
}

.title-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../images/Background-placeholders/pencil.jpg");
  background-size: cover;
  opacity: 0.5;
}

.yellow,
.blue,
.transition-image,
.bee-default,
.welcome-title,
span,
.button,
.sidenav-container,
.nav-bar,
.menu-bars,
svg.menu-svg,
path,
.nav-menu,
.navbar-toggle,
.menu-svg,
svg {
  position: relative;
}

.welcome-title {
  margin-top: 100px;
}
