body {
  margin: 0%;
  /* text-align: center; */
}

/* Middle nav*/
.nav-container {
  padding: 10px 25px 50px 0px;
  position: relative;
}
.nav-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ff9f00;
  background-size: cover;
  opacity: 0.65;
  border-top-style: double;
  border-color: grey;
  border-top-width: 0.5px;
}

.subtitle1,
.subtitle2,
.middle-nav-list,
h2,
.trigger-pop-up {
  position: relative;
}

.nav-child {
  font-size: 20px;
}

.nav-links {
  padding-top: 15px;
}

.profile-svg {
  float: left;
  margin: 10px;
  width: 50px;
  height: 40px;
}

.welcome {
  font-family: hero-new, sans-serif;
  font: bold;
  padding: 35px;
  font-size: 30px;
  display: inline-block;
  color: black;
}

/*Transition elements*/

.welcome {
  animation: transitionIn 2s;
}

.subtitle1,
.subtitle2 {
  animation: transitionIn 8s;
}

.card-control {
  animation: transitionIn 8.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.features-container {
  z-index: 0;
  margin: 0px;
  padding: 0px 0px 0px 36px;
  position: relative;
  list-style-type: none;
  overflow: scroll hidden;
  display: flex;
  width: 100%;
}

.subtitle1 {
  display: -webkit-box;
  margin: 45px 10px 30px 0px;
  padding: 60px 20px 10px 20px;
}

.subtitle2 {
  display: -webkit-box;
  margin: 30px 10px 30px 0px;
  padding: 50px 0px 0px 5px;
}

.child-container {
  margin-bottom: 8px;
  margin-right: 16px;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

li {
  margin: 0px 0px 10px 0px;
}

/*Middle nav*/
#about-button {
  border: black;
  box-shadow: 2px 2px whitesmoke;
}

.default-button {
  width: 200px;
  height: 54px;
  font-family: hero-new, sans-serif;
  font: bold;
  font-size: 22px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
}

/* Bee Image about button*/

.nav-container-control {
  padding: 50px;
}

#simple-button {
  background-color: #00c1a2;
}

#green-button {
  background-color: #82d121;
}

#blue-button {
  background-color: #89d7e8;
}

#pink-button {
  background-color: #ff2f69;
}

/* #monologues-button {
  background-color: #fbce69;
} */

/*section white/yellow*/
.h-container-video {
  padding: 10%;
}

.info-container {
  padding: 10%;
}
