body {
  margin: 0;
}
/*SA Prompt Page generic*/

.prompt-text {
  color: white;
}

.charity-name {
  color: #ff2f69;
}
.charity-name2 {
  color: #ff2f69;
}

.charity-name3 {
  color: #ff9f00;
}

/* All Page sizing & Background-colors*/

.challenge-page {
  height: 450vh;
  padding: 34px 24px 0px;
}

.image {
  margin: 5px;
  width: 120px;
  height: 120px;
}

.image-container {
  padding: 24px;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 70px;
    height: 70px;
  }
}

.simple-acts {
  padding: 50px;
}

.challenge-page {
  background-color: #82d121;
}
