/*NTW Logo */
.ntw-main {
  max-width: 100%;
  width: 100px;
  height: auto;
  float: right;
  padding: 10px 10px 0px 0px;
}

/*Bee Logo*/
.main-bee-logo {
  max-width: 100%;
}

.main-bee-logo {
  border-radius: 10%;
  width: 300px;
  height: auto;
  box-shadow: 5px 5px whitesmoke;
}

div.beeimage-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-container {
  margin: 100px 0px 0px 0px;
}

.card {
  height: 100%;
}

.subtitle-6 {
  display: flex;
}
