/*This contains Rewards & Challenge headings*/
.subheadings-container {
  display: flex;
  justify-content: space-around;
}

.rewards-container {
  margin-bottom: 50px;
}

.challenges-container {
  margin-bottom: 50px;
}

.completed-text {
  border-style: solid;
  border-radius: 15px;
  padding: 8px;
  border-width: 2.5px;
}

.completed-image-parent {
  display: flex;
  padding: 5px 50px 0px 100px;
}

.completed-image-child {
  width: 120px;
  height: 120px;
  position: relative;
}

/*Background Control*/
.profile-background-container {
  padding: 10px 0px 50px 0px;
  position: relative;
  height: 100vh;
}
.profile-background-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ff9f00;
  background-size: cover;
  opacity: 0.85;
}

.subheadings-container,
.challenges-container,
.rewards-container,
.completed-container,
.completed-image-parent {
  position: relative;
}

.image-control {
  border-radius: 10px;
}
