.largeimage {
  border-radius: 10%;
  /* align-items: left; */
  justify-content: space-evenly;
}

.main-bee-logo {
  width: 100%;
}

.main-bee-logo {
  border-radius: 10%;
  /* float: right; */
  width: 300px;
  height: auto;

  box-shadow: 5px 5px whitesmoke;
}

.team2 {
  border-radius: 10%;
  /* float: left; */
  width: 307px;
  height: 191px;
  margin-top: 30px;
  box-shadow: 5px 5px whitesmoke;
}
