.largeimage {
  border-radius: 10%;
  align-items: left;
  justify-content: space-evenly;
}

.bee1 {
  border-radius: 10%;
  float: right;
  width: 304px;
  height: 200px;
  transform: rotateY(180deg);
  box-shadow: 5px 5px whitesmoke;
}

.team2 {
  border-radius: 10%;
  float: left;
  width: 307px;
  height: 191px;
  margin-top: 30px;
  box-shadow: 5px 5px whitesmoke;
}
