/*Header */

@media only screen and (max-width: 802px) {
  #nav-header {
    display: none;
  }
}

#nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.nav-links {
  text-decoration: none;
  height: 50px;
}

li {
  color: #3e455a;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link-control {
  list-style: none;
  /* color: white; */
}

.bee-logo-control {
  width: 35px;
  height: auto;
  margin: 0px 0px 10px 0px;
}
