.heading-control {
  align-content: center;
  font-weight: 500;
  line-height: 1.2;
  font-size: 24px;
}

article {
  font-size: 24px;
}

.pem-image2 {
  width: 242px;
  height: 141px;
  border-radius: 10%;
}

.button {
  width: 200px;
  height: 54px;
  font-family: hero-new, sans-serif;
  font: bold;
  font-size: 24px;
  color: white;
  background-color: #fbce69;
  border-radius: 10px;
}

a {
  color: blue;
  font-size: 22px;
}

.more-info {
  color: white;
}
