.largeimage {
  border-radius: 10%;
  border-color: crimson;
  align-items: left;
}

.bee1 {
  border-radius: 10%;
  float: right;
  width: 304px;
  height: 200px;
  transform: rotateY(180deg);
  perspective: 1000px; /*Redundant code- Will soon add a 3D effect*/
}

.team2 {
  border-radius: 10%;
  float: left;
  width: 307px;
  height: 191px;
}
