body {
  font-family: "Caveat";
  text-align: center;
  font-size: 36px;
}

/*title "Go Tell The Bees" */
.yellow {
  color: #ff9f00;
}

/* mainText "Simple Acts"*/
em {
  color: #00c1a2;
}

.tranisition-image {
  width: 244px;
  height: 63;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tranisition-image:hover {
  opacity: 1;
}
