body {
  margin: 0;
}
/*SA Prompt Page generic*/

.prompt-text {
  color: white;
}

.charity-name {
  color: #82d121;
}

/*Connect Page*/
.connect-page {
  height: 400vh;
  padding: 0px 24px;
  background-color: #ff2f69;
}
