.live-background-container {
  padding: 100px 0px 50px 0px;
  margin: 10px 0px 0px 0px;
  position: relative;
}

.live-background-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../../images/ShowPage/show_pageLandscape.jpg");
  background-size: cover;
  opacity: 0.6;
  border-top-width: 0.5px;
}
.subtitle5 {
  margin: 10px 10px 30px 0px;
  padding: 60px 20px 10px 20px;
  text-align: left;
}

.subtitle5,
.programme-info-control {
  position: relative;
}

/*Section Style*/
.section-child-container {
  border-bottom-style: inset;
  border: 1px solid #c3c3c3;
}
.section-list-style-control {
  list-style: none;
}

.co-creator-control {
  padding: 10px;
}
.cast-list-control {
  padding: 10px;
}

.text-color-green {
  color: #82d121;
  text-shadow: 0 0 black;
}

.text-color-orange {
  color: #ff9f00;
  text-shadow: 0 0 black;
}

.text-color-blue {
  color: #00c1a2;

  text-shadow: 0 0 black;
}

.text-color-pink {
  color: #ff2f69;

  text-shadow: 0 0 black;
}
