.background-explore-image {
  position: static;
}
div.background-explore-image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  height: 50%;
  background-position: center;
  opacity: 0.85;
  background-color: #82d121;
}

.translate-button-control .home-footer,
ul,
header {
  position: relative;
}
